:root {
  --primary-color: black;
  --secondary-color: #a2f1d9;
  --font-size-base: 16px;
  --light-bg: #d8fff7;
  --light-text: #064e3b;
  --bg-color: var(--light-bg);
  --text-color: var(--light-text);
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial, sans-serif";
  color: var(--text-color);
  border: 3px solid var(--text-color);
  padding: 10px;
  border-radius: 15px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: rgba(183, 255, 236, 0.8431372549);
}
@media (max-width: 768px) {
  header {
    font-size: 1.75rem;
  }
}
@media (min-width: 1023px) {
  header {
    font-size: 2rem;
  }
}

#theme-toggle {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  background-color: rgba(199, 198, 198, 0.41);
  border-radius: 15px;
}
#theme-toggle input {
  display: none;
}
#theme-toggle .slider {
  position: absolute;
  cursor: pointer;
  transition: 0.5s ease-in;
}
#theme-toggle .slider::before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  background-color: var(--text-color);
  border-radius: 50%;
}
#theme-toggle input:checked + .slider::before {
  transform: translateX(1em);
}

#timeline {
  margin: 5px;
  position: relative;
}
@media (min-width: 1023px) {
  #timeline {
    margin: 10px 60px;
  }
}
@media (min-width: 1024px) {
  #timeline {
    margin: 20px 100px;
  }
}
#timeline ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  color: var(--text-color);
}

li {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 15px 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  li {
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 20px 0;
  }
}
@media (min-width: 1023px) {
  li {
    font-size: 2rem;
    padding: 25px;
    border-radius: 25px 0;
  }
}

.marker {
  position: relative;
  font-weight: bold;
}
.marker::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border: 0.25rem solid var(--text-color);
  border-radius: 50%;
  top: 60%;
  left: -2.5%;
  transform: translate(-50%, 100%);
}
@media (min-width: 768px) {
  .marker::before {
    width: 0.5rem;
    height: 0.5rem;
    border: 0.5rem solid var(--text-color);
    top: 65%;
  }
}
@media (min-width: 1023px) {
  .marker::before {
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.5rem solid var(--text-color);
    top: 70%;
  }
}

#modal {
  visibility: hidden;
}
@media (min-width: 768px) {
  #modal {
    font-size: 1.5rem;
  }
}
#modal h2 {
  font-size: 1.5rem;
}
@media (min-width: 1023px) {
  #modal h2 {
    font-size: 2rem;
  }
}
#modal time {
  font-style: italic;
}
#modal main {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--bg-color);
}
@media (min-width: 1023px) {
  #modal main {
    margin: 1rem 5rem;
  }
}
#modal figure {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px 0;
}
@media (min-width: 768px) {
  #modal figure {
    max-width: 450px;
  }
}
@media (min-width: 1023px) {
  #modal figure {
    max-width: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
